In [31]:
import geopandas as gpd
from sqlalchemy import create_engine

# Conexión a PostGIS
engine = create_engine('postgresql://postgres:MelonSK998@localhost:5432/Poligonos')

# Función para cargar tablas desde PostGIS
def cargar_tabla(nombre_tabla):
    query = f"SELECT * FROM {nombre_tabla};"
    gdf = gpd.read_postgis(query, engine, geom_col="geom")
    return gdf

# Cargar tablas
print("[INFO] Cargando tablas desde PostGIS...")
gdf_manzana = cargar_tabla("manzana")
gdf_ageb = cargar_tabla("ageb")
gdf_colonia = cargar_tabla("colonia")


print(f"gdf_manzana.columns: {gdf_manzana.columns}")
print(f"gdf_ageb.columns: {gdf_ageb.columns}")
print(f"gdf_colonia.columns: {gdf_colonia.columns}")

[INFO] Cargando tablas desde PostGIS...
gdf_manzana.columns: Index(['gid', 'id_manzana', 'geom'], dtype='object')
gdf_ageb.columns: Index(['gid', 'id_ageb', 'geom'], dtype='object')
gdf_colonia.columns: Index(['ENT', 'CVEDT', 'TERRITORIO', 'DTTOLOC', 'CVEUT', 'NOMBRE_COLONIA',
       'ID_COLONIA', 'geom'],
      dtype='object')

In [32]:
# Validar geometrías y CRS
print("[INFO] Validando geometrías activas y CRS...")
crs_target = "EPSG:4326"
for gdf, name in zip([gdf_manzana, gdf_ageb, gdf_colonia], ["manzana", "ageb", "colonia"]):
    if gdf.crs != crs_target:
        print(f"[WARNING] CRS de {name} no coincide con {crs_target}. Reproyectando...")
        gdf = gdf.to_crs(crs_target)

[INFO] Validando geometrías activas y CRS...

In [33]:
gdf_manzana = gdf_manzana.rename(columns={"gid": "gid_manzana", "geom": "geom_manzana"}).set_geometry("geom_manzana")
gdf_ageb = gdf_ageb.rename(columns={"gid": "gid_ageb", "geom": "geom_ageb"}).set_geometry("geom_ageb")
gdf_colonia = gdf_colonia.rename(columns={"geom": "GEOM_COLONIA"}).set_geometry("GEOM_COLONIA")

In [34]:
print(f"gdf_manzana.columns: {gdf_manzana.columns}")
print(f"gdf_ageb.columns: {gdf_ageb.columns}")
print(f"gdf_colonia.columns: {gdf_colonia.columns}")

gdf_manzana.columns: Index(['gid_manzana', 'id_manzana', 'geom_manzana'], dtype='object')
gdf_ageb.columns: Index(['gid_ageb', 'id_ageb', 'geom_ageb'], dtype='object')
gdf_colonia.columns: Index(['ENT', 'CVEDT', 'TERRITORIO', 'DTTOLOC', 'CVEUT', 'NOMBRE_COLONIA',
       'ID_COLONIA', 'GEOM_COLONIA'],
      dtype='object')

In [35]:
print(gdf_manzana.count())
print(gdf_ageb.count())
print(gdf_colonia.count())

gid_manzana     4813
id_manzana      4813
geom_manzana    4813
dtype: int64
gid_ageb     167
id_ageb      167
geom_ageb    167
dtype: int64
ENT               153
CVEDT             153
TERRITORIO        153
DTTOLOC           153
CVEUT             153
NOMBRE_COLONIA    153
ID_COLONIA        153
GEOM_COLONIA      153
dtype: int64

In [36]:
gdf_manzana = gdf_manzana.rename(columns = lambda x: x.upper()).set_geometry("GEOM_MANZANA")

In [37]:
gdf_manzana

,GID_MANZANA,ID_MANZANA,GEOM_MANZANA
0,1,1,"MULTIPOLYGON (((-99.10261 19.31446, -99.10262 ..."
1,2,2,"MULTIPOLYGON (((-99.13646 19.33011, -99.13649 ..."
2,3,3,"MULTIPOLYGON (((-99.14559 19.31907, -99.14571 ..."
3,4,4,"MULTIPOLYGON (((-99.1159 19.33298, -99.1158 19..."
4,5,5,"MULTIPOLYGON (((-99.11542 19.33209, -99.11597 ..."
...,...,...,...
4808,4809,4809,"MULTIPOLYGON (((-99.1748 19.30872, -99.17484 1..."
4809,4810,4810,"MULTIPOLYGON (((-99.10934 19.32239, -99.10934 ..."
4810,4811,4811,"MULTIPOLYGON (((-99.16319 19.30341, -99.16298 ..."
4811,4812,4812,"MULTIPOLYGON (((-99.10669 19.31207, -99.10665 ..."
4812,4813,4813,"MULTIPOLYGON (((-99.15209 19.32059, -99.152 19..."

In [38]:
gdf_ageb = gdf_ageb.rename(columns = lambda x: x.upper()).set_geometry("GEOM_AGEB")

In [39]:
gdf_ageb

     GID_AGEB ID_AGEB                                          GEOM_AGEB
0           1    1307  MULTIPOLYGON (((-99.20241 19.30902, -99.20254 ...
1           3    1241  MULTIPOLYGON (((-99.19025 19.33798, -99.1906 1...
2           4    0445  MULTIPOLYGON (((-99.14833 19.30045, -99.14819 ...
3          44    1228  MULTIPOLYGON (((-99.13051 19.34164, -99.13033 ...
4          84    1533  MULTIPOLYGON (((-99.17756 19.3068, -99.17852 1...
..        ...     ...                                                ...
162       162    1637  MULTIPOLYGON (((-99.16424 19.30835, -99.1646 1...
163       163    1641  MULTIPOLYGON (((-99.16316 19.30747, -99.16374 ...
164       165    1867  MULTIPOLYGON (((-99.0996 19.32147, -99.09995 1...
165       166    1848  MULTIPOLYGON (((-99.11 19.33234, -99.11 19.332...
166       167    1833  MULTIPOLYGON (((-99.11 19.33234, -99.11009 19....

[167 rows x 3 columns]

In [40]:
manzanas_agebs = gpd.sjoin(gdf_manzana, gdf_ageb, how="inner", predicate="within")

In [41]:
manzanas_agebs

,GID_MANZANA,ID_MANZANA,GEOM_MANZANA,index_right,GID_AGEB,ID_AGEB
0,1,1,"MULTIPOLYGON (((-99.10261 19.31446, -99.10262 ...",137,137,1497
1,2,2,"MULTIPOLYGON (((-99.13646 19.33011, -99.13649 ...",43,36,0713
2,3,3,"MULTIPOLYGON (((-99.14559 19.31907, -99.14571 ...",74,70,0855
3,4,4,"MULTIPOLYGON (((-99.1159 19.33298, -99.1158 19...",119,112,1251
4,5,5,"MULTIPOLYGON (((-99.11542 19.33209, -99.11597 ...",119,112,1251
...,...,...,...,...,...,...
4808,4809,4809,"MULTIPOLYGON (((-99.1748 19.30872, -99.17484 1...",156,153,1548
4809,4810,4810,"MULTIPOLYGON (((-99.10934 19.32239, -99.10934 ...",102,97,1336
4810,4811,4811,"MULTIPOLYGON (((-99.16319 19.30341, -99.16298 ...",30,23,1660
4811,4812,4812,"MULTIPOLYGON (((-99.10669 19.31207, -99.10665 ...",87,82,150A
4812,4813,4813,"MULTIPOLYGON (((-99.15209 19.32059, -99.152 19...",126,122,0658

In [42]:
# Mantener geometrías de AGEBS en a nueva columna
manzanas_agebs["GEOM_AGEB"] = gdf_ageb.set_index("ID_AGEB").loc[manzanas_agebs["ID_AGEB"], "GEOM_AGEB"].values

In [43]:
# Validar columnas resultantes
print("[INFO] Columnas en el GeoDataFrame resultante:")
print(manzanas_agebs.columns)

# Verificar geometrías
print("[INFO] Ejemplo de geometrías resultantes:")
print(manzanas_agebs[["ID_MANZANA", "GEOM_MANZANA", "ID_AGEB", "GEOM_AGEB"]].head())

[INFO] Columnas en el GeoDataFrame resultante:
Index(['GID_MANZANA', 'ID_MANZANA', 'GEOM_MANZANA', 'index_right', 'GID_AGEB',
       'ID_AGEB', 'GEOM_AGEB'],
      dtype='object')
[INFO] Ejemplo de geometrías resultantes:
  ID_MANZANA                                       GEOM_MANZANA ID_AGEB  \
0          1  MULTIPOLYGON (((-99.10261 19.31446, -99.10262 ...    1497
1          2  MULTIPOLYGON (((-99.13646 19.33011, -99.13649 ...    0713
2          3  MULTIPOLYGON (((-99.14559 19.31907, -99.14571 ...    0855
3          4  MULTIPOLYGON (((-99.1159 19.33298, -99.1158 19...    1251
4          5  MULTIPOLYGON (((-99.11542 19.33209, -99.11597 ...    1251

                                           GEOM_AGEB
0  MULTIPOLYGON (((-99.10086 19.3139, -99.10095 1...
1  MULTIPOLYGON (((-99.13313 19.33264, -99.13278 ...
2  MULTIPOLYGON (((-99.1436 19.32085, -99.1434 19...
3  MULTIPOLYGON (((-99.11339 19.33147, -99.11345 ...
4  MULTIPOLYGON (((-99.11339 19.33147, -99.11345 ...

In [44]:
if manzanas_agebs.crs != gdf_colonia.crs:
    print("[WARNING] CRS de manzanas_agebs y colonias no coinciden. Reproyectando...")
    gdf_colonia = gdf_colonia.to_crs(manzanas_agebs.crs)

In [45]:
if "index_right" in manzanas_agebs.columns:
    print("[INFO] Eliminando columna conflictiva 'index_right' en manzanas_agebs.")
    manzanas_agebs = manzanas_agebs.drop(columns=["index_right"])

if "index_right" in gdf_colonia.columns:
    print("[INFO] Eliminando columna conflictiva 'index_right' en gdf_colonia.")
    gdf_colonia = gdf_colonia.drop(columns=["index_right"])

[INFO] Eliminando columna conflictiva 'index_right' en manzanas_agebs.

In [46]:
print("[INFO] Realizando unión espacial entre manzanas_agebs y colonias...")
manzanas_agebs_colonias = gpd.sjoin(
    manzanas_agebs,
    gdf_colonia,
    how="inner",
    predicate="within",
    lsuffix="manzanas_agebs",
    rsuffix="colonias"
)

[INFO] Realizando unión espacial entre manzanas_agebs y colonias...

In [47]:
print("[INFO] Agregando geometrías de colonias al resultado...")
manzanas_agebs_colonias = manzanas_agebs_colonias.merge(
    gdf_colonia[["ID_COLONIA", "GEOM_COLONIA"]],
    how="left",
    left_on="ID_COLONIA",
    right_on="ID_COLONIA",
    suffixes=(None, "_colonia")
)

[INFO] Agregando geometrías de colonias al resultado...

In [48]:
# Validar columnas del resultado final
print("[INFO] Columnas del GeoDataFrame resultante:")
print(manzanas_agebs_colonias.columns)

[INFO] Columnas del GeoDataFrame resultante:
Index(['GID_MANZANA', 'ID_MANZANA', 'GEOM_MANZANA', 'GID_AGEB', 'ID_AGEB',
       'GEOM_AGEB', 'index_colonias', 'ENT', 'CVEDT', 'TERRITORIO', 'DTTOLOC',
       'CVEUT', 'NOMBRE_COLONIA', 'ID_COLONIA', 'GEOM_COLONIA'],
      dtype='object')

In [49]:
manzanas_agebs_colonias = manzanas_agebs_colonias.rename(columns = lambda x: x.upper())

In [66]:
manzanas_agebs_colonias

,GID_MANZANA,ID_MANZANA,GEOM_MANZANA,GID_AGEB,ID_AGEB,GEOM_AGEB,INDEX_COLONIAS,ENT,CVEDT,TERRITORIO,DTTOLOC,CVEUT,NOMBRE_COLONIA,ID_COLONIA,GEOM_COLONIA
0,1,1,"MULTIPOLYGON (((-99.10261 19.31446, -99.10262 ...",137,1497,"MULTIPOLYGON (((-99.10086 19.3139, -99.10095 1...",34,9,3,COYOACAN,30,03-027,CTM IX CULHUACAN ZONA 29-30 (U HAB),249,"POLYGON ((-99.10346 19.31297, -99.1034 19.3136..."
1,2,2,"MULTIPOLYGON (((-99.13646 19.33011, -99.13649 ...",36,0713,"MULTIPOLYGON (((-99.13313 19.33264, -99.13278 ...",14,9,3,COYOACAN,30,03-008,AVANTE,190,"POLYGON ((-99.13088 19.32602, -99.13064 19.325..."
2,4,4,"MULTIPOLYGON (((-99.1159 19.33298, -99.1158 19...",112,1251,"MULTIPOLYGON (((-99.11339 19.33147, -99.11345 ...",37,9,3,COYOACAN,30,03-029,CTM V CULHUACAN (U HAB),252,"POLYGON ((-99.1129 19.33572, -99.1126 19.33502..."
3,5,5,"MULTIPOLYGON (((-99.11542 19.33209, -99.11597 ...",112,1251,"MULTIPOLYGON (((-99.11339 19.33147, -99.11345 ...",37,9,3,COYOACAN,30,03-029,CTM V CULHUACAN (U HAB),252,"POLYGON ((-99.1129 19.33572, -99.1126 19.33502..."
4,6,6,"MULTIPOLYGON (((-99.10704 19.31626, -99.10704 ...",80,1406,"MULTIPOLYGON (((-99.10695 19.31526, -99.10743 ...",57,9,3,COYOACAN,30,03-049,EMILIANO ZAPATA (U HAB),272,"POLYGON ((-99.11369 19.32067, -99.11351 19.320..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4455,4808,4808,"MULTIPOLYGON (((-99.16328 19.35649, -99.16319 ...",22,0037,"MULTIPOLYGON (((-99.16046 19.35804, -99.16045 ...",45,9,3,COYOACAN,26,03-037,DEL CARMEN,260,"POLYGON ((-99.16258 19.35115, -99.16277 19.350..."
4456,4809,4809,"MULTIPOLYGON (((-99.1748 19.30872, -99.17484 1...",153,1548,"MULTIPOLYGON (((-99.17565 19.30764, -99.17571 ...",117,9,3,COYOACAN,32,03-091,PEDREGAL DEL MAUREL,332,"POLYGON ((-99.17645 19.30935, -99.17598 19.309..."
4457,4810,4810,"MULTIPOLYGON (((-99.10934 19.32239, -99.10934 ...",97,1336,"MULTIPOLYGON (((-99.11272 19.32082, -99.1129 1...",119,9,3,COYOACAN,30,03-093,PILOTO CULHUACAN (U HAB),334,"POLYGON ((-99.10921 19.32163, -99.11028 19.321..."
4458,4811,4811,"MULTIPOLYGON (((-99.16319 19.30341, -99.16298 ...",23,1660,"MULTIPOLYGON (((-99.1597 19.30393, -99.15962 1...",48,9,3,COYOACAN,32,03-041,EL CARACOL,263,"POLYGON ((-99.1641 19.30829, -99.16405 19.3083..."
4459,4812,4812,"MULTIPOLYGON (((-99.10669 19.31207, -99.10665 ...",82,150A,"MULTIPOLYGON (((-99.10473 19.30994, -99.10494 ...",36,9,3,COYOACAN,30,03-028,CTM IXA CULHUACAN (U HAB),251,"POLYGON ((-99.10492 19.30903, -99.10441 19.308..."

In [65]:
import psycopg2

# Conexión a la base de datos para ejecutar consultas SQL
conn = psycopg2.connect("dbname='Poligonos' user='developer' password='MelonSK998' host='localhost' port='5432'")
cur = conn.cursor()

# Eliminar abla existente de colonias si es necesario
cur.execute("DROP TABLE IF EXISTS poligonos_manzanas_agebs_colonias;")
conn.commit()
conn.close()

In [67]:
manzanas_agebs_colonias.to_postgis("poligonos_manzanas_agebs_colonias", con=engine, if_exists="replace")

In [55]:
def cargar_tabla(nombre_tabla, geom):
    query = f"SELECT * FROM {nombre_tabla};"
    gdf = gpd.read_postgis(query, engine, geom_col = f"{geom}")
    #gdf = gdf.rename(columns = {f"{geom}": "geom"})
    return gdf

In [79]:
nombre_tabla = "poligonos_manzanas_agebs_colonias"
query = f"SELECT * FROM {nombre_tabla};"
gdf = gpd.read_postgis(query, engine, geom_col = "GEOM_MANZANA")

In [80]:
gdf

,GID_MANZANA,ID_MANZANA,GEOM_MANZANA,GID_AGEB,ID_AGEB,INDEX_COLONIAS,ENT,CVEDT,TERRITORIO,DTTOLOC,CVEUT,NOMBRE_COLONIA,ID_COLONIA,GEOM_COLONIA,GEOM_AGEB
0,865,865,"MULTIPOLYGON (((-99.14463 19.35059, -99.14468 ...",35,0075,32,9,3,COYOACAN,26,03-025,COUNTRY CLUB,247,0103000020E61000000100000028000000E52FE8589DC8...,0106000020E61000000100000001030000000100000048...
1,4,4,"MULTIPOLYGON (((-99.1159 19.33298, -99.1158 19...",112,1251,37,9,3,COYOACAN,30,03-029,CTM V CULHUACAN (U HAB),252,0103000020E610000001000000450000001BD5BCB939C7...,0106000020E61000000100000001030000000100000026...
2,2210,2210,"MULTIPOLYGON (((-99.11479 19.32735, -99.11481 ...",156,1285,38,9,3,COYOACAN,30,03-030,CTM VI CULHUACAN (U HAB),253,0103000020E6100000010000004D0000008BF4646978C7...,0106000020E61000000100000001030000000100000026...
3,63,63,"MULTIPOLYGON (((-99.13975 19.33591, -99.1398 1...",52,1143,49,9,3,COYOACAN,30,03-042,EL CENTINELA,264,0103000020E6100000010000002A000000C0D85FDF1CC9...,0106000020E61000000100000001030000000100000023...
4,6,6,"MULTIPOLYGON (((-99.10704 19.31626, -99.10704 ...",80,1406,57,9,3,COYOACAN,30,03-049,EMILIANO ZAPATA (U HAB),272,0103000020E610000001000000310000005BA3E2C346C7...,0106000020E61000000100000001030000000100000033...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4398,4806,4806,"MULTIPOLYGON (((-99.16292 19.31146, -99.16286 ...",161,0963,5,9,3,COYOACAN,32,03-130,AJUSCO III,181,0103000020E6100000010000004C000000710C7DC8A8CA...,0106000020E6100000010000000103000000010000003C...
4399,4807,4807,"MULTIPOLYGON (((-99.14029 19.30328, -99.14006 ...",16,1425,140,9,3,COYOACAN,32,03-113,VIEJO EJIDO SANTA URSULA COAPA,355,0103000020E6100000020000003600000038D62FD80FC9...,0106000020E61000000100000001030000000100000039...
4400,4808,4808,"MULTIPOLYGON (((-99.16328 19.35649, -99.16319 ...",22,0037,45,9,3,COYOACAN,26,03-037,DEL CARMEN,260,0103000020E61000000100000057000000876C35B967CA...,0106000020E6100000010000000103000000010000001D...
4401,4811,4811,"MULTIPOLYGON (((-99.16319 19.30341, -99.16298 ...",23,1660,48,9,3,COYOACAN,32,03-041,EL CARACOL,263,0103000020E610000001000000430000002FFF3B8A80CA...,0106000020E61000000100000001030000000100000057...
4402,4812,4812,"MULTIPOLYGON (((-99.10669 19.31207, -99.10665 ...",82,150A,36,9,3,COYOACAN,30,03-028,CTM IXA CULHUACAN (U HAB),251,0103000020E61000000100000025000000375EB80CB7C6...,0106000020E61000000100000001030000000100000031...